{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% block meta_desc %}
    <meta
      name="description"
      content="CryptoMarket - Track cryptocurrency prices, market cap, and trading volume in real-time"
    />
    {% endblock meta_desc %}

    <title>{% block title %} CryptoMarket - Cryptocurrency Tracker {% endblock title %}</title>

    <!-- Google Fonts - Inter -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- Frontend Libraries (ChartJs) -->
    <script defer src="{% static 'frontend/main.js' %}"></script>

    <!-- Base CSS -->
    <link rel="stylesheet" href="{% static 'core/base.css' %}" />
    <link rel="stylesheet" href="{% static 'core/partials/nav.css' %}" />

    <!-- Base JavaScript -->
    <script defer src="{% static 'core/base.js' %}"></script>

    <!-- Page Specific CSS And JS Block For Child Templates -->
    {% block css_js %} {% endblock css_js %}
  </head>

  <body>
    <!-- Navigation -->
    {% block navigation %}
    <!--  -->
    {% include 'core/partials/nav.html' %}
    <!--  -->
    {% endblock navigation %}

    <!-- Main Content -->
    {% block main %} {% endblock main %}

    <!-- Footer with Pagination -->
    {% block footer %}
    <!--  -->
    {% include 'core/partials/footer.html' %}
    <!--  -->
    {% endblock footer %}
  </body>
</html>
